* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-teal: #06283D;
    --blue-oscuro: #0D4C92;
    --tex-black: #201E1C;
    --text-while: #FFFFFF;
    --color1: #2B4865;
}

#container-item-carrusel {
    margin: 100px 100px 19px;
    height: 400px;
    overflow: hidden;
}

.itemCarrusel {
    height: 100%;
    position: relative;
}

.tarjeta-carrisel {
    height: 100%;
}

.flechas-carrusel {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

a {
    text-decoration: none;
}

.flechas-carrusel i {
    color: var(--tex-black);
}

#conte-punto {
    display: flex;
    justify-content: space-around;

}
#conte-punto > a {
    font-size: 1em;
    font-style: none;
    color: #201E1C;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}