* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Noto Sans', sans-serif;
}

:root {
    --color-teal: #06283D;
    --blue-oscuro: #0D4C92;
    --tex-black: #201E1C;
    --text-while: #FFFFFF;
    --color1: #2B4865;
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}


.container-main-items {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 40px 40px;
    position: relative;
    z-index: 99;
    opacity: .85;
}

.main-array {
    width: 30px;
    height: 30px;
    display: grid;
    justify-content: center;
    margin-top: 20px;
    align-self: flex-start;

}

.main-array-photo {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.main-container-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "card-11 card-12 card-13"
        "card-21 vacio card-23"
    ;
    gap: 20px;
    padding: 50px;
}

.main-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px 80px;
    width: 260px;
    height: 212px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    border-radius: 0px;
    background-color: #17A589;
    -webkit-transition: 1s linear;
    transition: 0.5s linear
}

.main-card:hover {
    border-radius: 20px;
}


.title-container {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--text-while);
}

.equipo {
    background-color: var(--color1);
    grid-area: card-11;
}

.img-equipo {
    width: 180px;
    height: 160px;
    object-fit: contain;
    justify-self: center;
    margin-top: 35px;
}


.optimizacion {
    grid-area: card-12;
    background-color: var(--color1);
}

.img-optimizacion {
    object-fit: contain;
    width: 90px;
    justify-self: center;
    margin-top: 25px;
}

.trello {
    grid-area: card-13;
    background-color: var(--color1);
}

.img-trello {
    object-fit: contain;
    width: 140px;
    justify-self: center;
    margin-top: 25px;
}

.desarrollo {
    grid-area: card-21;
    background-color: var(--color1);
}

.img-desarrollo {
    object-fit: contain;
    width: 100px;
    justify-self: center;
    margin-top: 25px;
}

.github {
    grid-area: card-23;
    background-color: var(--color1);
}

.img-github {
    object-fit: contain;
    width: 110px;
    justify-self: center;
    margin-top: 25px;
}